/Budgety/*.log
node_modules
/WizardWars/src/WizardWars.Web/*.log
dist
/BudgetyEnterprise/src/Budgety.WebApi/src/app/pipes/*.pdf
/BudgetyEnterprise/src/Budgety.WebApi/src/app/contact-form/*.pdf
packages
obj
bin
TestResults
